* {
    /* margin: 0; */
}
html,
body {
    height: 100%;
    background-color: lightblue;
}
.header {
    display: flex;
    padding-left: 20px;
    margin: 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.header img {
    width: 15%;
}
.header h2 {
    color: rgb(29, 161, 242);
}
.content {
   max-width: 600px;
   height: 100;
   margin: 0 auto;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   background-color: white;
}
.post_form {
    padding: 20px 40px;
    border-radius: 1px solid #ccc;
}
.post_form input {
    padding: 10px ;
    border: 1px solid #ccc;
    width: 90%;
    margin-bottom: 10px;
}
.post_form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
}

#uploadfile {
    width: 60%;
    border: hidden;
    overflow: hidden;
    padding-top: 20px;
}

#btn {
    color: white;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(29, 161, 242);
}
#btn-1 {
    color: white;
    cursor: pointer;
    width: 14%;
    border-radius: 10px;
    background-color: rgb(29, 161, 242);
}
.btn-cancel {
    display: inline;
}
#cancel {
    text-decoration: none;
    border: 1px solid;
    background-color: grey;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
}
.posts ul {
    padding: 0;
}
.posts li {
    display: flex;
    border: 1px solid #ccc;
    position: relative;
    padding: 20px 40px;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 10px;
}
.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a {
    text-decoration: none;
}
.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}
.posts li .name_body {
    flex-basis: 85%;
}
.posts li .name_body .name {
    font-weight: bold;
}
.posts li .name_body .datetime{
    color: gray;
}
@media screen and (max-width: 500px){
    .posts li .name_body .name {
        font-size: 20px;
    }
    
}

